body{
  color:#40514E;
  margin: 0;
 text-align: center;
 font-family: serif;

}
h1{margin-top: 0;
  font-family: 'Norican', cursive;
  font-size: 40px;
  color:#66BFBF;
  padding: 10px;
}
h2{
  color: #11999E;
}

h3{
color: #11999E;
font-size: 25px;
margin-bottom: -10px;
}

p{

  line-height: 1.5;
  font-size: 20px;
}
hr{

  background-style:none;
  width:5%;
  height:0%;
  border-style:dotted none none;
  border-width:4px;
  border-color:grey;
  }
.prg{
  color: red;
}
.top-container{background-color: #E4F9F5;

  position: relative;
  padding-top: 100px;
}

.middle-container{
  font-family: 'Bebas Neue', cursive;
  margin: 100px 0;
}
.bottom-container{
background-color: #66BFBF;


}

.topcloud{
  position: absolute;
  right: 300px;
  top: 40px;

}
.fadeInLeft{
  -webkit-animation:fadeInRight 3.2s both;
  -moz-animation:fadeInRight 3.2s both;
  -o-animation:fadeInRight 3.2s both;
  animation:fadeInRight 3.2s both;
}
@-webkit-keyframes fadeInRight{
  0%{
    opacity: 0;
    -webkit-transform: translateX(50px);
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0);
  }
}
  @-moz-keyframes fadeInRight{
    0%{
      opacity: 0;
      -moz-transform: translateX(50px);
    }
    100%{
      opacity:1;
      -moz-transform:translateX(0);
  }}
  @-o-keyframes fadeInRight{
    0%{
      opacity: 0;
      -o-transform: translateX(50px);
    }
    100%{
      opacity:1;
      -o-transform:translateX(0);
  }
}
  @keyframes fadeInRight {
    0%{
      opacity: 0;
      transform: translateX(50px);
    }
    100%{
      opacity:1;
      transform:translateX(0);
    }
  }
  .bgFadeIn{
    -webkit-animation:bgFadeIn 2.2s both;
    -moz-animation:bgFadeIn 2.2s both;
    -o-animation:bgFadeIn 2.2s both;
    animation:bgFadeIn 2.2s both;
  }
  @-webkit-keyframes bgFadeIn{
    0%{
      opacity: 0;
      -webkit-transform: translate(50px);
    }
    100%{
      opacity:1;
      -webkit-transform:translate(0);
    }
  }
    @-moz-keyframes bgFadeIn{
      0%{
        opacity: 0;
        -moz-transform: translateZ(50px);
      }
      100%{
        opacity:1;
        -moz-transform:translateZ(0);
    }}
    @-o-keyframes bgFadeIn{
      0%{
        opacity: 0;
        -o-transform: translateZ(50px);
      }
      100%{
        opacity:1;
        -o-transform:translateZ(0);
    }
  }
    @keyframes bgFadeIn {
      0%{
        opacity: 0;
        transform: translateZ(50px);
      }
      100%{
        opacity:1;
        transform:translateZ(0);
      }
    }
  .fadeInRight{
    -webkit-animation:fadeInLeft 2.2s both;
    -moz-animation:fadeInLeft 2.2s both;
    -o-animation:fadeInLeft 2.2s both;
    animation:fadeInLeft 2.2s both;
  }
  @-webkit-keyframes fadeInLeft{
    0%{
      opacity: 0;
      -webkit-transform: translateX(-50px);
    }
    100%{
      opacity:1;
      -webkit-transform:translateX(0);
    }
  }
    @-moz-keyframes fadeInLeft{
      0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
      }
      100%{
        opacity:1;
        -moz-transform:translateX(0);
    }}
    @-o-keyframes fadeInLeft{
      0%{
        opacity: 0;
        -o-transform: translateX(-50px);
      }
      100%{
        opacity:1;
        -o-transform:translateX(0);
    }
  }
    @keyframes fadeInRight {
      0%{
        opacity: 0;
        transform: translateX(50px);
      }
      100%{
        opacity:1;
        transform:translateX(0);
      }
    }

    .fadeInLeft{
      -webkit-animation:fadeInRight 3.2s both;
      -moz-animation:fadeInRight 3.2s both;
      -o-animation:fadeInRight 3.2s both;
      animation:fadeInRight 3.2s both;
    }
    @-webkit-keyframes fadeInRight{
      0%{
        opacity: 0;
        -webkit-transform: translateX(50px);
      }
      100%{
        opacity:1;
        -webkit-transform:translateX(0);
      }
    }
      @-moz-keyframes fadeInRight{
        0%{
          opacity: 0;
          -moz-transform: translateX(50px);
        }
        100%{
          opacity:1;
          -moz-transform:translateX(0);
      }}
      @-o-keyframes fadeInRight{
        0%{
          opacity: 0;
          -o-transform: translateX(50px);
        }
        100%{
          opacity:1;
          -o-transform:translateX(0);
      }
    }
      @keyframes fadeInRight {
        0%{
          opacity: 0;
          transform: translateX(50px);
        }
        100%{
          opacity:1;
          transform:translateX(0);
        }
      }

      .fadeInTop{
        -webkit-animation:fadeInTop 2.7s both;
        -moz-animation:fadeInTop 2.7s both;
        -o-animation:fadeInTop 2.7s both;
        animation:fadeInTop 2.7s both;
      }
      @-webkit-keyframes fadeInTop{
        0%{
          opacity: 0;
          -webkit-transform: translateY(-50px);
        }
        100%{
          opacity:1;
          -webkit-transform:translateY(0);
        }
      }
        @-moz-keyframes fadeInTop{
          0%{
            opacity: 0;
            -moz-transform: translateY(-50px);
          }
          100%{
            opacity:1;
            -moz-transform:translateY(0);
        }}
        @-o-keyframes fadeInTop{
          0%{
            opacity: 0;
            -o-transform: translateY(-50px);
          }
          100%{
            opacity:1;
            -o-transform:translateY(0);
        }
      }
        @keyframes fadeInTop {
          0%{
            opacity: 0;
            transform: translateY(-50px);
          }
          100%{
            opacity:1;
            transform:translateY(0);
          }
        }

.bottomcloud{
  position: absolute;
  left: 250px;
  bottom :300px;
}
.sksk{
  margin-top: 60px;
}
.cd{

  float:left;
  margin-right: 30px;
  margin-left: 200px;
}
.prj{
  float: right;
  margin-right: 250px;
  margin-left:10px;

}
.intro{
  width:30%;
  margin:auto;
}
.web{
  font-size: 1.5rem;
  margin:30px auto 0 auto;
  color: #66BFBF;
  line-height: 2px;
}
.pp1{
  color: grey;
  text-decoration: none;
}
.pp1:hover{
  color: silver;
}
.footer-link{
color:  #11999E;
margin: 10px 20px;
text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
.skill-row{
  width: 50%;
  text-align: left;
  line-height: 2;

  margin:100px auto 100px auto;
}
.skill-row2{
  width: 50%;
  text-align: left;
  line-height: 1;

  margin:100px 190px 100px auto;
}
  .btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #90BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #90BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #90BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #90BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #90BFBF);
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   height: 10px;
   line-height: 10px;
   color: #FFFFFF;
   font-family: Arial;
   width: 92px;
   font-size: 18px;
   font-weight: 100;
   padding: 17px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.btn{
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}
.btn:hover {
   border: solid #3CA5A5 0;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #90BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #90BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #90BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #90BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #90BFBF);
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   border-radius: 24px;
   text-decoration: none;
}
.copyright{
  color: #EAF6F6;
}
.nmFade{
  -webkit-animation:nmFade 8.5s both;
  -moz-animation:nmFade 8.5s both;
  -o-animation:nmFade 8.5s both;
  animation:nmFade 8.5s both;
}
@-webkit-keyframes nmFade{
  0%{
    opacity: 0;
    -webkit-transform: translateZ(50px);
  }
  100%{
    opacity:1;
    -webkit-transform:translateZ(0);
  }
}
  @-moz-keyframes nmFade{
    0%{
      opacity: 0;
      -moz-transform: translateZ(50px);
    }
    100%{
      opacity:1;
      -moz-transform:translateZ(0);
  }}
  @-o-keyframes nmFade{
    0%{
      opacity: 0;
      -o-transform: translateZ(50px);
    }
    100%{
      opacity:1;
      -o-transform:translateZ(0);
  }
}
  @keyframes nmFade {
    0%{
      opacity: 0;
      transform: translateZ(50px);
    }
    100%{
      opacity:1;
      transform:translateZ(0);
    }
  }

  .dmFade{
    -webkit-animation:dmFade 10s both;
    -moz-animation:dmFade 10s both;
    -o-animation:dmFade 10s both;
    animation:dmFade 10s both;
  }
  @-webkit-keyframes dmFade{
    0%{
      opacity: 0;
      -webkit-transform: translateZ(50px);
    }
    100%{
      opacity:1;
      -webkit-transform:translateZ(0);
    }
  }
    @-moz-keyframes dmFade{
      0%{
        opacity: 0;
        -moz-transform: translateZ(50px);
      }
      100%{
        opacity:1;
        -moz-transform:translateZ(0);
    }}
    @-o-keyframes dmFade{
      0%{
        opacity: 0;
        -o-transform: translateZ(50px);
      }
      100%{
        opacity:1;
        -o-transform:translateZ(0);
    }
  }
    @keyframes dmFade {
      0%{
        opacity: 0;
        transform: translateZ(50px);
      }
      100%{
        opacity:1;
        transform:translateZ(0);
      }
    }
